::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}

body{
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background.png);
    background-size: cover;
    
    
   
  }


.logo img{
	float: left;
	width: 100px;
    height: auto;
    animation: logo 4s;
    animation-iteration-count: 1;

}



    
.logomain {
    position: absolute;
    bottom: 60%;
    left: 47%;
    font-size: 50px;
    transform: translateX(-50%);
    color: whitesmoke;
}
.textmain {
    position: absolute;
    bottom: 75%;
    left: 51%;
    font-size: 50px;
    transform: translateX(-50%);
    color: whitesmoke;
}

.textcenter {
    position: absolute;
    bottom: 45%;
    left: 50%;
    font-size: 23px;
    transform: translateX(-50%);
    color: whitesmoke;
}
.textcenter1 {
    position: absolute;
    bottom: 27%;
    left: 50.3%;
    font-size: 25px;
    transform: translateX(-50%);
    color: white;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
}

ul li{
    display: inline-table;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.4s ease;
}

ul li a:hover{
    border: 2px solid white;
}

ul li.active a {
    
    border: 2px solid white;
}



    .footer {
        position: absolute;
        float: left;
        list-style-type: none;
        bottom: 1%;
        margin-left: 10px;
         color: #fff;
        cursor: pointer;
    }

    .footer1 {
        position: absolute;
        float: left;
        list-style-type: none;
        bottom: 1%;
        margin-left: 180px;
         color: #fff;
        cursor: pointer;
    }

    .footer1 a {
        text-decoration: none;
        color: #fff;
        margin-left: 15px;
        transition: 1s ease;
        cursor: pointer;
    }
    .footer1 a:hover {
        position: relative;
        text-decoration: none;
        color: black;
        margin-left: 15px;
        cursor: pointer;
       
    }


      
      
